
.nonSelect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

.info-box{
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    color: white;
    border-radius: 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}
.info-box .info-box-logo {
    display: block;
    float: left;
    text-align: center;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.75);
    position: relative;
}
.info-box .info-box-title {
    font-weight: 700;
}
.info-box .info-box-title-secondary {
    font-weight: 600;
}

.info-box code{
    font-weight: bold;
}

.info-box .info-box-title-extra {
    float: right;
    cursor: pointer;
}

/*
 * Lg size.
 */

.info-box-lg{
    height: 140px;
    min-width: 380px;
    margin-bottom: 30px;
    padding: 20px;
}
.info-box-lg .info-box-logo{
    height: 100px;
    font-size: 100px;
    line-height: 100px;
    width: 100px;
    margin-right: 20px;
    padding-right: 20px;
}
.info-box-lg .info-box-title{
    margin-top: -10px;
    font-size: 34px;
}
.info-box-lg .info-box-title-secondary{
    font-size: 12px;
}
.info-box-lg .info-box-desc {
    margin-top: 10px;
    font-size: 12px;
}
.info-box-lg .info-box-title-extra {
    font-size: 12px;
}

/*
 * sm size.
 */
.info-box-sm{
    height: 100px;
    min-width: 280px;
    margin-bottom: 10px;
    padding: 10px;
}
.info-box-sm .info-box-logo{
    height: 80px;
    font-size: 80px;
    line-height: 80px;
    width: 80px;
    margin-right: 10px;
    padding-right: 10px;
}
.info-box-sm .info-box-title{
    margin-top: 0;
    font-size: 20px;
}
.info-box-sm .info-box-title-secondary{
    font-size: 12px;
}
.info-box-sm .info-box-desc {
    margin-top: 10px;
    font-size: 12px;
}
.info-box-sm .info-box-title-extra {
    font-size: 12px;
}


/*
 * xs size.
 */
.info-box-xs{
    height: 60px;
    min-width: 190px;
    margin-bottom: 5px;
    padding: 5px;
}
.info-box-xs .info-box-logo{
    height: 50px;
    font-size: 50px;
    line-height: 50px;
    width: 50px;
    margin-right: 5px;
    padding-right: 5px;
}
.info-box-xs .info-box-title{
    margin-top: 0;
    font-size: 18px;
}
.info-box-xs .info-box-title-secondary{
    font-size: 12px;
}
.info-box-xs .info-box-desc {
    margin-top: 0;
    font-size: 12px;
}
.info-box-xs .info-box-title-extra {
    font-size: 12px;
}


/*
 *  Colors
 */

.info-box.info-box-danger {
    background: #d9534f;
    border: 1px solid #d43f3a;
}

.info-box.info-box-primary {
    background: #337ab7;
    border: 1px solid #2e6da4;
}
.info-box.info-box-info {
    background: #5bc0de;
    border: 1px solid #46b8da;
}
.info-box.info-box-warning {
    background: #f0ad4e;
    border: 1px solid #eea236;
}
.info-box.info-box-success {
    background: #5cb85c;
    border: 1px solid #4cae4c;
}


